<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lemeng.user.mapper.UserMapper" >


    <insert id="buyPet">
        INSERT INTO user_pet (userId,petId)
        VALUES (userId=#{userId},petId = #{petId})

    </insert>
</mapper>